.introducao {
  max-width: 1200px;
  padding: 100px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao {
  font-size: 3.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
}
p {
  line-height: 50px;
  font-size: 25px;
}
@media (max-width: 790px) {
  .introducao {
    font-size: 1.8rem;
    line-height: 1;
    padding: 1px 1px;
    display: flex;
  }
  .introducao p {
    line-height: 5;
    font-size: 15px;
  }
  .foto {
    width: auto;
    height: auto;
    transform: scale(2.8, 0.7);
    margin-left: 45px;
  }
}
